@import "tailwindcss";

@config "../tailwind.config.js";

@layer components {
  .mobile-heading h2 {
    @apply sticky bg-white z-50 dark:bg-background top-0;
  }
}

/* Hide scrollbar for thumbnail carousel */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
